.label {
  margin-bottom: 5px;
  display: block;
}
.label-focus {
  color: rgb(41, 41, 242);
  margin-bottom: 5px;
  display: block;
}
/* input-group-default */
.input {
  border-radius: 10px;
  border-color: rgb(173, 171, 171);
  padding: 10px;
  color: rgb(174, 174, 174);
}
.input:focus {
  border-color: rgb(41, 41, 242);
}

.input:hover {
  border-color: rgb(75, 74, 74);
}
