/* GOOGLE FONT STYLING */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v130/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: "liga"; */
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

input {
  outline: none;
}

/* LABEL STYLING */
.label {
  margin-bottom: 2px;
  display: block;
}

.label-primary-focus {
  color: blue;
}
.label-danger {
  color: red;
}
.label-danger-focus {
  color: red;
}
.label-danger-hover {
  color: black;
}
/* INPUT STYLING */
.input-primary {
  border-radius: 10px;
  border-color: rgb(173, 171, 171);
  padding: 10px;
  color: rgb(174, 174, 174);
}
.input {
  border-radius: 6px;
  padding: 10px;
  color: rgb(174, 174, 174);
  border: solid 1px rgb(225, 225, 225);
}
.input-primary-focus {
  border-color: blue;
}

.input-primary-hover {
  border-color: rgb(75, 74, 74);
}

.input-danger,
.input-danger-focus {
  border-color: rgb(247, 73, 73);
  outline-color: rgb(247, 73, 73);
}
.input-danger-hover {
  border-color: rgb(87, 86, 86);
}

.disabled {
  background-color: rgb(213, 211, 211);
}
/* helperText */
.helper {
  color: black;
}
.div-error,
.div-danger-focus {
  color: red;
}
.div-danger-hover {
  color: black;
}
