/* GOOGLE FONT STYLING */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v130/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: "liga"; */
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.original {
  padding: 12px 15px;
  border-radius: 10px;
  border: 0;
  margin: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.176);
  font-size: 15px;
}
.outline {
  background-color: transparent;
  color: rgb(40, 40, 246);
  border: 1px solid rgb(40, 40, 246);
}
.text {
  color: rgb(40, 40, 246);
  background-color: transparent;
  box-shadow: none;
}
.disableShadow {
  box-shadow: none;
}
.disabled {
  color: grey;
  border: 1px solid grey;
}

/* color based button */
.primary {
  background-color: rgb(58, 58, 243);
  color: white;
}
.default {
  color: grey;
  background-color: rgb(222, 218, 218);
}
