.root-container {
  padding: 5rem;
}
.header-container {
  display: flex;
  justify-content: flex-end;
}
.random-button {
  background: transparent;
  border: none;
  font-size: 20px;
}
.random-button span {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10rem;
  margin: 10rem;
}
.content p {
  border-left: 3px solid orange;
  font-size: 30px;
  font-weight: bold;
  padding: 0rem 5rem;
}
.content-sub {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 5rem;
  padding: 0.5rem;
}
.content-sub:hover {
  background-color: rgb(79, 79, 79);
  color: #fff;
}
.content-sub h3 {
  align-self: flex-start;
}
.hide {
  color: #fff;
}
.content-sub h5 {
  align-self: flex-start;
  color: rgb(42, 42, 42);
}

@media only screen and (max-width: 1300px) {
  .content {
    padding: 5rem;
    margin: 5rem;
  }
}

@media only screen and (max-width: 750px) {
  .content {
    padding: 48% 0;
    margin: 0rem;
  }
  .content p {
    padding: 0.5rem;
  }
  .content-sub {
    padding: 0;
    margin: 0;
  }
  .root-container {
    padding: 1rem;
  }
}
