.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: "liga"; */
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v130/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent_container {
  margin: 5rem;
}
.navbar_container {
  position: "sticky";
  width: 100%;
  top: 0;
  background-color: #fff;
  padding: 2rem;
}

.custom_card_image > img {
  border-radius: 25px;
  width: 100%;
  height: 267px;

  object-fit: cover;
}
.custom_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 2.5rem;
  column-gap: 50px;
  row-gap: 50px;
}
.custom_card {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.card_body {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.card_rating {
  margin-left: auto;
}
.card_tag {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
}
.icon {
  color: #eb5757;
}
.card_title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0.5rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .custom_grid {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 900px) {
  .custom_grid {
    grid-template-columns: auto;
  }
  .parent_container {
    margin: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .parent_container {
    margin: 1rem;
  }
  .navbar_container {
    padding: 0.5rem;
  }
}
