.parent {
  margin: 50px 100px;
  display: grid;

  gap: 10px;
  column-gap: 50;
  grid-template-columns: auto;
}
/* child div */
.section-div {
  margin: 30px 20px;
}
/* row based div using flexbox */
.row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span {
  color: rgb(160, 160, 160);
}
.row-div > div {
  width: 100%;
  margin-right: 30px;
}
