.root-page {
  background-image: url("../../assets/images/background.png");
  background-position: center;
  background-origin: content-box;
  background-size: cover;
  background-repeat: repeat-y;
  width: 100vw;
  height: 100vh;
  min-height: 896px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.quiz-container-header {
  color: white;
}
