.navbar_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar_container_right {
  margin-left: auto;
}
.navbar_container_left {
  margin-right: auto;
}
.search-parent {
  border-radius: 10px;
  border: solid 1px black;
}
